src/main/resources/sax/EmployeeLoginDetail.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employee_login_detail">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee_id" type="xs:long"/>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>